:host {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  max-width: 28rem;
  width: 100%;

  @media (max-width: 600px) {
    padding: 16px;
    width: auto;
  }

  .headings {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 2rem;
      font-weight: lighter;
      color: #363949;
    }
    p {
      font-size: 1rem;
      color: #73778c;
      font-weight: 300;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 16px;

    p {
      color: #73778c;
    }

    input {
      width: 100%;
      padding: 14px 0;
      border-radius: 12px;
      border: none;
      font-size: 1rem;
      color: #363949;
      text-align: center;
      background-color: #f3f4f680;

      &:focus {
        outline: none;
        border-color: #a5a5a5;
      }

      // Remove arrows from number inputs
      &[type='number']::-webkit-outer-spin-button,
      &[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
      &.isActive {
        border: 2px solid #b693ec;
      }
    }

    .input-times {
      p {
        font-size: 1rem;
        color: #73778c;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
      }
    }

    .input-buttons {
      display: flex;

      button {
        background-color: #96e9c2;
        border: none;
        border-radius: 12px;
        margin: 8px;
        padding: 14px 32px;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &.isActive {
          background-color: #b693ec;
          color: white;
        }
      }
    }

    .input-custom {
      display: flex;
      gap: 16px;
      width: 100%;
      padding: 14px 0;

      input {
        width: 100%;
      }

      p {
        color: #73778c;
      }
    }
    .start-button {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        width: 100%;
        padding: 14px 32px;
        background-color: #b693ec;
        border: none;
        border-radius: 12px;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
