:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1ecf9;

  @media screen and (max-width: 600px) {
    padding: 16px;
    height: auto;
  }
}
